#Задание 1

##Работа с библиотекой pandas

**Цель работы:** познакомиться с использованием библиотеки pandas при решении практических задач, связанных с анализом данных.
Проанализируем датасет insurance. Датасет содержит сведения о расходах на страхования. Также информацию о людях и их признаках. Набор данных включает следующие атрибуты:  
* **age** – возраст  
* **sex** – пол  
* **bmi** – индекс массы тела  
* **children** – дети  
* **smoker** – курильщик  
* **region** – регион  
* **charges** – расходы на страхование

###1. Импортируйте необходимые библиотеки

In [4]:
import numpy as np
import pandas as pd

###2. Импортируйте набор данных из файла insurance.csv и поместите его в объект DataFrame

In [5]:
df = pd.read_csv('insurance.csv')

###3.Выведите 10 первых строк

In [6]:
print(df.head(10))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

###4.Сколько строк и столбцов в наборе данных?

In [7]:
print("Количество строк:", df.shape[0])
print("Количество столбцов:", df.shape[1])

Количество строк: 1338
Количество столбцов: 7

###5.Получите сводную информацию по датафрейму

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

###6. Что является индексом этого набора данных?

In [9]:
df.index

RangeIndex(start=0, stop=1338, step=1)

###7. Проверьте набор данных на наличие отсутствующих значений и дубликатов строк. При наличии обработайте их тем или иным способом.

In [10]:
duplicates = df[df.duplicated()]
print(duplicates)

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [11]:
print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [12]:
# удаление дубликатов
df = df.drop_duplicates()
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, charges]
Index: []

###8. Кто больше тратит на страхование – мужчины или женщины?

In [13]:
print(df.groupby("sex")["charges"].mean())

sex
female    12569.578844
male      13974.998864
Name: charges, dtype: float64

###9. Существует ли взаимосвязь между индексом массы тела и расходами на страхование? Между курением и расходами на страхование?

In [21]:

bins = [0, 16, 18.5, 25, df["bmi"].max()]
labels = [
    "Выраженный дефицит",
    "Недостаточный вес",
    "Нормальная масса",
    "Свыше нормы"
]

df["bmi_group"] = pd.cut(df["bmi"], bins=bins, labels=labels, right=True, include_lowest=True)

# Считаем средние расходы в каждой категории BMI
result = df.groupby("bmi_group", observed = True)["charges"].mean()
print (result)
# Средние расходы курящих
print("Средние расходы на курение:")
print(df.groupby("smoker")["charges"].mean())

bmi_group
Выраженный дефицит     1694.796400
Недостаточный вес      9005.761865
Нормальная масса      10435.440719
Свыше нормы           13957.766781
Name: charges, dtype: float64
Средние расходы на курение:
smoker
no      8440.660307
yes    32050.231832
Name: charges, dtype: float64

###10.Выведите TOP-5 жителей, имеющих максимальные расходы на страхование и TOP-5 жителей, имеющих минимальные расходы

In [15]:
# TOP-5 жителей с максимальными расходами
top5_max = df.sort_values(by="charges", ascending=False).head(5)
print("ТОП-5 с максимальными расходами:")
print(top5_max, "\n")

# TOP-5 жителей с минимальными расходами
top5_min = df.sort_values(by="charges", ascending=True).head(5)
print("ТОП-5 с минимальными расходами:")
print(top5_min)

ТОП-5 с максимальными расходами:
      age     sex     bmi  children smoker     region      charges  \
543    54  female  47.410         0    yes  southeast  63770.42801
1300   45    male  30.360         0    yes  southeast  62592.87309
1230   52    male  34.485         3    yes  northwest  60021.39897
577    31  female  38.095         1    yes  northeast  58571.07448
819    33  female  35.530         0    yes  northwest  55135.40209

        bmi_group
543   Свыше нормы
1300  Свыше нормы
1230  Свыше нормы
577   Свыше нормы
819   Свыше нормы

ТОП-5 с минимальными расходами:
      age   sex    bmi  children smoker     region    charges  \
940    18  male  23.21         0     no  southeast  1121.8739
808    18  male  30.14         0     no  southeast  1131.5066
1244   18  male  33.33         0     no  southeast  1135.9407
663    18  male  33.66         0     no  southeast  1136.3994
22     18  male  34.10         0     no  southeast  1137.0110

             bmi_group
940   Нормальная масса
808        Свыше нормы
1244       Свыше нормы
663        Свыше нормы
22         Свыше нормы

###11.Определите, в каком регионе жители больше всего расходуют на страхование

In [16]:
region_mean = df.groupby("region")["charges"].mean().sort_values(ascending=False) #средние расходы по регионам

#регион с самыми большими расходами
max_region = region_mean.idxmax()
print(f"\nБольше всего тратят жители региона: {max_region}")

Больше всего тратят жители региона: southeast

###12.Как влияет количество детей на расходы по страхованию?

In [17]:
#средние расходы по количеству детей
children_mean = df.groupby("children")["charges"].mean()
print("Средние расходы по числу детей:")
print(children_mean)

#медианные расходы по количеству детей
children_median = df.groupby("children")["charges"].median()
print("\nМедианные расходы по числу детей:")
print(children_median)

Средние расходы по числу детей:
children
0    12384.695344
1    12731.171832
2    15073.563734
3    15355.318367
4    13850.656311
5     8786.035247
Name: charges, dtype: float64

Медианные расходы по числу детей:
children
0     9863.47180
1     8483.87015
2     9264.97915
3    10600.54830
4    11033.66170
5     8589.56505
Name: charges, dtype: float64

###13.Вычислите для столбца bmi среднее значение, моду, медиану, дисперсию и среднеквадратичное отклонение

In [18]:

mean_bmi = df["bmi"].mean()
mode_bmi = df["bmi"].mode()[0]
median_bmi = df["bmi"].median()
var_bmi = df["bmi"].var()
std_bmi = df["bmi"].std()

print(f"Среднее значение: {mean_bmi:.2f}")
print(f"Мода: {mode_bmi:.2f}")
print(f"Медиана: {median_bmi:.2f}")
print(f"Дисперсия: {var_bmi:.2f}")
print(f"Среднеквадратичное отклонение: {std_bmi:.2f}")

Среднее значение: 30.66
Мода: 32.30
Медиана: 30.40
Дисперсия: 37.22
Среднеквадратичное отклонение: 6.10

###14.Вычислите для столбца charges среднее значение, моду, медиану, дисперсию и среднеквадратичное отклонение

In [19]:
mean_charges = df["charges"].mean()
mode_charges = df["charges"].mode()[0]
median_charges = df["charges"].median()
var_charges = df["charges"].var()
std_charges = df["charges"].std()

print(f"Среднее значение: {mean_charges:.4f}")
print(f"Мода: {mode_charges:.4f}")
print(f"Медиана: {median_charges:.4f}")
print(f"Дисперсия: {var_charges:.4f}")
print(f"Среднеквадратичное отклонение: {std_charges:.4f}")

Среднее значение: 13279.1215
Мода: 1121.8739
Медиана: 9386.1613
Дисперсия: 146660811.0060
Среднеквадратичное отклонение: 12110.3597